<table border='true' class='departures'>
  <tr>
    <th>Scheduled Time</th>
    <th>Trip</th>
    <th>Origin</th>
    <th>Destination</th>
    <th>Track</th>
    <th>Status</th>
    <th>Delay</th>
  </tr>

  <% @departures.each do |departure| %>
    <tr>
      <td><%= departure[:scheduled_time] %></td>
      <td><%= departure[:trip] %></td>
      <td><%= departure[:origin] %></td>
      <td><%= departure[:destination] %></td>
      <td><%= departure[:track] %></td>
      <td><%= departure[:status] %></td>
      <td><%= departure[:lateness] %></td>
    </tr>
  <% end %>
</table>
